:root{
    font-size: 62.5%;
    --colorB:#141024;
    --colorW:#FFF;
    --colorR:#D52027;
}
body{
    font-family: Jost, sans-serif;
    font-style: normal, sans-serif;
    font-family: 'Roboto', sans-serif;
}
.osnW{
    color: var(--colorW);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}
.osnB{
    color: var(--colorB);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}
.zagW{
    color: var(--colorW);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 160%; /* 48px */
}
.zagB{
    color: var(--colorB);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 160%; /* 48px */
}
.hederTex{
    color:var(--colorW);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}
.zagPod{
    color:var(--colorB);

    font-size: 2rem;
    font-weight: 600;
    line-height: 160%;
}
.zagPodm{
    color: var(--colorB);
    font-size: 2rem;
    font-weight: 400;
    line-height: 160%;
}
.textRB{
    color:var(--colorR);
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    line-height: normal;
}
.pakText{
    color: var(--colorB);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    line-height: 160%; /* 48px */
}
.pakCen{
    color: var(--colorB);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 160%; /* 80px */
}
.futText{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}
.mText{
    color: rgba(20, 16, 36, 0.70);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
}
.textForm{
    color: rgba(40, 41, 68, 0.70);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}
.fonB{
    background:var(--colorB);
}
.fonG{
    background: #F9F9F9;
}
.fonR{
    background:var(--colorR);
}
.fonW{
    background:var(--colorW);
}
.obvodCen{
    width: 30rem;
    height: 39,4rem;
    flex-shrink: 0;
    border: 0,1rem solid rgba(20, 16, 36, 0.20);
    border-radius: 2rem;
}
.obvodPick{
    border-radius: 2rem;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #C4C4C4;
}
.podCherk{
    text-decoration:underline
}